.ng-cloak {
	display: none !important;
}

.accent {
	color: #BF3030;
}

body {
	color: #555;
	background-color: #DDD;
}

.page-header {
	background-color: #EEE;
}

.jumbotron {
	margin-top: 50px;
	background-color: #BF3030;
}

.test {
	background-color: white;
}

.padding {
	padding: 30px;
}

.panel-button {
	background-color: #BF3030;
	color: white;
}