.ng-cloak {
	display: none !important;
}

.accent {
	color: #BF3030;
}

body {
	color: #555;
	background-color: #DDD;
}

.page-header {
	background-color: #EEE;
}

.jumbotron {
	/*margin-top: 50px;*/
/*	height: 1000px;
	background-color: #BF3030;
	background-image: url(http://fc04.deviantart.net/fs71/i/2009/346/a/8/Pennybacker_Bridge_by_datura09.jpg);
	background-size: cover;*/
	height: 583px;
	background: url("http://fc04.deviantart.net/fs71/i/2009/346/a/8/Pennybacker_Bridge_by_datura09.jpg") top center no-repeat;
}

.jumbotron-picture {
	width: 100%
}

.test {
	background-color: white;
}

.padding {
	padding: 30px;
}

.panel-button {
	background-color: #BF3030;
	color: white;
}